body {
    background: rgb(0,206,255);
    background: linear-gradient(90deg, rgba(0,206,255,1) 25%, rgba(46,152,255,1) 56%, rgba(9,45,171,1) 100%);
}

.footer {
    color: #000;
    background: #c3eff745;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
    padding: 30px;
    bottom:0;
}

.href-color a {
    color: #545454;
}

.bold-red {
    color: red;
    font-weight: bold;
}

.centered {
    vertical-align: middle;
    text-align: center;
    padding:10px;
}

.my-form {
    margin: 30px auto;
    background: #ffffffe0;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.my-form h2 {
    margin: 0 0 15px;
}

.white-text {
    color: #fff;
}

.form-group .white-text {
    color: #fff;
}

.black-text {
    color: #000;
}

.join {
    max-width: 300px;
}

.left {
    text-align: left;
}

.my-form .btn-primary {
    background: #e68e00;
    font-size: 15px;
    font-weight: bold;
}

.input-group-addon .fa {
    font-size: 18px;
}

.my-form .btn {
    border: none;
    margin: 10px 3px 0;
    opacity: 1;
}

.form-group .fb {
    background: #4267B2;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}

.btn-orange {
    background: #e68e00;
    padding: 10px 28px;
    border: 2px solid #44c5ee;
    color: #fff;
    border-radius: 50px;
    font-weight: 700;
    letter-spacing: 0.08em;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    box-shadow: 0px 0px 60px 0px rgba(68, 197, 238, 0.6);
    outline: none !important;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active {
    background: #fff;
    color: #496174;
}

.btn-transparent {
    background: transparent;
    padding: 10px 28px;
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50px;
    font-weight: 700;
    letter-spacing: 0.08em;
    -webkit-transition: 0.5s all;
    transition: 0.5s all;
    outline: none !important;
}

.btn-transparent:hover,
.btn-transparent:focus,
.btn-transparent:active {
    background: #fff;
    color: #496174;
}
