
nav {
    background-color: #c3eff745;
    border: 5px solid #E68E00;
}

.carousel ul {
    margin: 0;
    padding:0;
    list-style-type: none;
    overflow: hidden;
    display-inline;
}

.carousel li {
    float: right;
    margin-left: 70px;
}

.carousel li a {
    color: #000000;
    text-align: center;
    padding: 14ox 16px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    display: block;
}

.carousel li a::before {
    content: '';
    display: block;
    height: 10px;
    background-color: #444;

    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

body{
    background-image: url('/static/images/Socrates1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.carouselcarousel{
    margin-top: 40px;
    margin-bottom: 40px;
}

.card{
    background-color: #ffffff45;
    min-height: 300px;
    max-width: 400px;
}
