.carousel ul {
    margin: 0;
    padding:0;
    list-style-type: none;
    overflow: hidden;
    display-inline;
}

.carousel li {
    float: right;
    margin-left: 80px;
}

.carousel li a::before {
    content: '';
    display: block;
    height: 10px;
    background-color: #444;

    position: absolute;
    top: 10;
    width: 0%;
    transition: all ease-in-out 250ms;
}

body{
    background-image: url('/static/images/Socrates1.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}


.container {
margin-top: 100px;
}

.container1 {
margin-top: 50px;
}

.card {
    margin-top: 50px;
    background-color: transparent;
    min-height: 100px;
    max-width: 550px;
    border: 5px;
    color: #E68E00;
    font-family: "Comic Sans MS";
    font-size: 40px;
}

