.centered {
    vertical-align: middle;
    text-align: center;
    padding:10px;
}

.register-form {
    max-width: 500px;
    margin: 30px auto;
}

.register-done{
    margin-top: 30px;
    background: #ffffffe0;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.white-text{
    color: #fff;
}

.join {
    max-width: 300px;
}

.left {
    text-align: left;
}

.register-form form {
    margin-bottom: 15px;
    background: #ffffffe0;
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.3);
    padding: 30px;
}

.register-form h2 {
    margin: 0 0 15px;
}

.form-control, .login-btn {
    min-height: 38px;
    border-radius: 2px;
}

.input-group-addon .fa {
    font-size: 18px;
}

.login-btn {
    font-size: 15px;
    font-weight: bold;
}

.btn-primary {
    background: #e68e00;
}

textarea {
   resize: none;
}

.btn {
    border: none;
    margin: 10px 3px 0;
    opacity: 1;
}

.fb {
    background: #4267B2;
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
}

.separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #000;
}

.separator::before {
    margin-right: .25em;
}

.separator::after {
    margin-left: .25em;
}
