<!DOCTYPEhtml>
{% load staticfiles %}
{% load tutorme_templates_tags %}
<html>
    <head lang="en">
        <meta charset="UTF-8" name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="{% static 'images/TutorMeLogoSmall.png' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
        <script src="{% static 'javascript/typed.min.js' %}"></script>
        <script src="{% static 'javascript/facebookAPI.js' %}"></script>
        {% block head_block %}
        {% endblock %}
        <title>
            TutorMe -
            {% block title_block %}
                TutorMe
            {% endblock %}
        </title>
    </head>
    <body class="d-flex flex-column" style="min-height: 100vh">
        <main class="flex-fill">
            <center>
                {% block body_block %}
                {% endblock %}
            </center>
        </main>
        <footer class="footer">
            <div class="container-fluid text-center text-md-left">
                <div class="row">
                    <div class="col-md-6 mt-md-0 mt-3">
                        <h5 class="text-uppercase">TutorMe Creators</h5>
                        <p>A pleasure to serve you all.</p>
                    </div>

                    <hr class="clearfix w-100 d-md-none pb-3">

                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase">Site Map</h5>
                        <ul class="list-unstyled href-color">
                            {% if user.is_authenticated %}
                                <li><a href="{% url 'tutorme:add_category' %}">Add New Category</a></li>
                                <li><a href="{% url 'tutorme:restricted' %}">Restricted Page</a></li>
                                <li><a href="{% url 'tutorme:logout' %}">Logout</a></li>
                            {% else %}
                                <li><a href="{% url 'tutorme:register_student' %}">Sign Up as Student</a></li>
                                <li><a href="{% url 'tutorme:register_teacher' %}">Sign Up as Teacher</a></li>
                                <li><a href="{% url 'tutorme:login' %}">Login</a></li>
                            {% endif %}
                            <li><a href="{% url 'tutorme:about' %}">About</a></li>
                            <li><a href="{% url 'tutorme:homepage' %}">Homepage</a></li>
                        </ul>
                    </div>

                    <div class="col-md-3 mb-md-0 mb-3">
                        <h5 class="text-uppercase">Links</h5>

                        <ul class="list-unstyled href-color">
                            {% block sidebar_block %}
                                {% get_category_list category %}
                            {% endblock %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright text-center py-3 href-color">
                © 2020 Copyright:
                <a href="#"> TutorMe</a>
            </div>
        </footer>
    </body>
    {% block afterBody_block %}
    {% endblock %}
</html>




