{%extends 'tutorme/base.html'%}
{% load staticfiles %}

{% block title_block %}
    Homepage
{% endblock %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock %}

{% block body_block %}
    <div class="container">
        <div class="row">
            {% if user.is_authenticated %}
                <div class="col-md-5 offset-md-8 row-centered">
                    <div class="white-text welcome">
                        {% if not user_obj.categories %}
                            <h2>Find teacher or Go to Dashboard</h2>
                            <a href="{% url 'tutorme:search' %}" class="btn btn-transparent" id="search">Search</a>
                        {% else %}
                            <h2>Go to Dashboard</h2>
                        {% endif %}
                        <a href="{% url 'tutorme:dashboard' %}" class="btn btn-orange" id="dashboard">Dashboard</a>
                    </div>
                </div>
            {% else %}
                <div class="col-md-5 offset-md-8 row-centered">
                    <div class="white-text welcome">
                        <h2>Get started</h2>
                        <a href="{% url 'tutorme:login' %}" class="btn btn-orange" id="login">Here</a>
                    </div>
                </div>
                <div class="col-md-5 offset-md-8 row-centered">
                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ul class="carousel-indicators">
                            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                        </ul>
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="card">
                                    <div class="col-8">
                                        <h4><p align="justify" class="content mb-5 mx-2">Quickest way to find a teacher!</p></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="col-8">
                                        <h4><p align="justify" class="content mb-5 mx-2">Knowledge is just a click away!</p></h4>
                                    </div>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="card">
                                    <div class="col-8">
                                        <h4><p align="justify" class="content mb-5 mx-2">The best tutors in the community! </p></h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}
