{%extends 'tutorme/base.html'%}
{% load staticfiles %}

{% block title_block %}
    Login
{% endblock %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block body_block %}
    <div class="logo">
        <center>
            <img src="{% static 'images/TutorMeLogoTransparent.png' %}" class="img-fluid" width="400" height="160" alt="Picture of tutorme" />
        </center>
    </div>
    <div class="container login">
        <div class="row kokos">
            <div class="col-md-5 offset-md-0 row-centered my-auto">
                <div class="welcome white-text">
                    <h1>Welcome to TutorMe</h1>
                    <h2>
                        <span class="animated-text"></span>
                        <span class="typed-cursor"></span>
                    </h2>
                    <p>This website is for a teacher to teach and a student to learn. All about education!</p>
                    <h2>Register Now</h2>
                    <a href="{% url 'tutorme:register' %}" class="btn btn-transparent">As Teacher</a>
                    <a href="{% url 'tutorme:register' %}" class="btn btn-blue" >As Student</a>
                </div>
            </div>
            <div class="col-md-5 offset-md-1 row-color row-centered">
                <div class="login-form">
                    <form action="#" method="post">
                        <h2 class="text-center black-text">Sign in</h2>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <input type="email" class="form-control" name="email" placeholder="Email" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <input type="password" class="form-control" name="password" placeholder="Password" required="required">
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary login-btn btn-block">Sign in</button>
                        </div>
                        <div class="clearfix">
                            <label class="pull-left checkbox-inline black-text"><input type="checkbox"> Remember me</label>
                            <a href="#" class="pull-right">Forgot Password?</a>
                        </div>
                        <div class="separator black-text">OR</div>
                        <p class="text-center black-text">Login with your social media account</p>
                        <div class="text-center social-btn">
                            <div class="fb-login-button" data-width="" data-size="medium" data-button-type="continue_with" data-auto-logout-link="false" data-use-continue-as="true"></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block afterBody_block %}
    <script src="{% static 'javascript/login.js' %}"></script>
{% endblock %}

