{% extends 'tutorme/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Sign Up
{% endblock %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/register.css' %}">
{% endblock %}

{% block body_block %}
    {% if registered %}
        tutorme says:<strong>thank you for registering!</strong>

        <a href="{% url 'tutorme:index' %}">Return to the homepage.</a> <br/>
    {% else %}
        <center>
            <div class="container">
                <div class="row">
                    <div class="col-md-5 offset-md-1 my-auto left">
                        <div class="join white-text">
                            <h1>Join the TutorMe community</h1>
                            <li>Learn new things from professionals</li>
                            <li>Teach new things to anyone</li>
                            <li>Earn the love of the community</li>
                        </div>
                    </div>
                    <div class="col-md-5 offset-md-1 centered">
                        <div class="register-form">
                            <form id = "user_form" method = "post" action = "{% url 'tutorme:register' %}" enctype="multipart/form-data">
                                <h2 class="text-center black-text">Sign Up</h2>
                                {% csrf_token %}
                                {{ user_form.as_p }}

                                {{ profile_form.as_p }}

                                <div class="form-group">
                                    <button type="submit" name="submit" class="btn btn-primary login-btn btn-block">Register</button>
                                </div>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </center>
    {% endif %}
{% endblock %}
