{%extends 'tutorme/base.html'%}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
{% endblock %}

{% block body_block %}
<div class="container">
    <br/>
	<div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form action="#" class="card card-sm" method="post">
                {% csrf_token %}
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fa fa-search h4 text-body"></i>
                    </div>
                    <div class="col">
                        <input class="form-control form-control-lg form-control-borderless" name="search" type="search" placeholder="Search by category or tutor name">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div>
    {% if teachers %}
        {% if teachers.by_category %}
            <div>
               By Category
            </div>
            <ul>
                {% for teacher in teachers.by_category %}
                    <li>{{ teacher.first_name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if teachers.by_name %}
            <div>
               By Name
            </div>
            <ul>
                {% for teacher in teachers.by_name %}
                    <li>{{ teacher.first_name }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    {% endif %}
</div>
{% endblock %}

