{%extends 'tutorme/base.html'%}
{% load staticfiles %}

{% block title_block %}
    About
{% endblock %}

{% block head_block %}
    <link rel="stylesheet" href="{% static 'css/search.css' %}">
    <link href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" rel="stylesheet" />
{% endblock %}

{% block body_block %}
<div class="container">
    <br/>
	<div class="row justify-content-center">
        <div class="col-12 col-md-10 col-lg-8">
            <form action="#" class="card card-sm" method="post">
                {% csrf_token %}
                <div class="card-body row no-gutters align-items-center">
                    <div class="col-auto">
                        <i class="fa fa-search h4 text-body"></i>
                    </div>
                    <div class="col">
                        <input id="round" class="form-control form-control-lg form-control-borderless" name="search" type="search" placeholder="Search by category or tutor name">
                    </div>
                    <div class="col-auto">
                        <button class="btn btn-primary" type="submit">Search</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="col-8">
    <div class="container-fluid px-3 px-sm-5 my-10 text-center">
        <div class="owl-carousel owl-theme">
            {% if teachers %}
                {% if length == 1 %}
                    <div class="card border-0 py-3 px-4">
                        <div class="row justify-content-center"> <img src="https://i.imgur.com/gazoShk.jpg" class="img-fluid profile-pic mb-4 mt-3"> </div>
                        <h6 class="mb-3 mt-2">{{ teacher.first_name }}</h6>
                        <p class="content mb-5 mx-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim.</p>
                    </div>
                {% else %}
                    {% for teacher in teachers %}
                        {% if forloop.first %}
                            {% if forloop.last %}
                                <div class="item show">
                            {% else %}
                                <div class="item first prev">
                            {% endif %}
                        {% elif forloop.last %}
                            {% if forloop.counter0 == 1 %}
                                <div class="item show">
                            {% else %}
                                <div class="item last">
                            {% endif %}
                        {% elif forloop.counter0 == 1 %}
                            <div class="item show">
                        {% else %}
                            <div class="item next">
                        {% endif %}
                                <div class="card border-0 py-3 px-4">
                                    <div class="row justify-content-center"> <img src="https://i.imgur.com/gazoShk.jpg" class="img-fluid profile-pic mb-4 mt-3"> </div>
                                    <h6 class="mb-3 mt-2">{{ teacher.first_name }}</h6>
                                    <p class="content mb-5 mx-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua Ut enim.</p>
                                </div>
                            </div>
                    {% endfor %}
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block afterBody_block %}
    <script>
        var categories = [  {% for category in all_categories %}
                                {% if forloop.last %}
                                    "{{ last_category }}"
                                {% else %}
                                    "{{ category }}",
                                {% endif %}
                            {% endfor %}
                         ];
    </script>
    <script src="{% static 'javascript/search.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
{% endblock %}
